<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <title>Subscribe Us!</title>
  </head>
  <body>
    <div class="container" style="margin-top:50px; margin-bottom: 50px">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="page-header">
    				<h1>
    					<img src="https://login.mailchimp.com/release/1.1.12aaf6d4536c56c8d6d110cceaf48db970a2ec50e/images/brand_assets/logos/mc-freddie-dark.svg" style="margin: 20px auto 40px; width: 150px; display: block; clear: both" alt="">
    				</h1>
    			</div>
    			<div class="list-group">
    				 <a href="#" style="background-color: #000000; border-color: #000000;" class="list-group-item list-group-item-action active">Subscribe us with Mailchimp</a>
    				<div class="list-group-item">
              We do not absorb your subscriber list as per GDPR rules. Here's the open source <a target="_blank" href="https://bitbucket.org/alinisar125/mailchimp/">link</a> to this so you can view this directly. We  have relationships with hundreds of content writers, production companies, and businesses whereby their SEO matters. By participating in this, we'll be able to see your subscriber analytics, click throughs, and see the types of content you've previously posted.
              <br>Any time we have content that we think would fit your audience based on previous posts, we'll ping you to see if it makes sense and offer an amount of money for it.
              <br>If you agree, please follow the instructions below:
    				</div>
    				<div class="list-group-item">

              <form role="form" action="" method="post">
                <%if (errorCode == 'apiKeyEmpty') { %>
                  <div class="alert alert-danger">
                    <strong>Oh Snap!</strong> API key is required.
                  </div>
                <% } %>
                <%if (errorCode == 'apiKeyWrong') { %>
                  <div class="alert alert-warning">
                    <strong>Warning!</strong> API key is not valid, please try again.
                  </div>
                <% } %>
        				<div class="form-group">
        					<label>
                    <strong style="font-size: 130%;">1. </strong>
                    <a href="https://login.mailchimp.com/" target="_blank">Click here</a> to sign in with Mailchimp account.
        					</label>
        				</div>
        				<div class="form-group">
        					<label>
                    <strong style="font-size: 130%;">2. </strong>
                    After Login, copy the token by following this animation<br>
                    <img src="/images/mailchimp-api-key.gif" alt="">
        					</label>
        				</div>
        				<div class="form-group">

        					<label for="exampleInputPassword1">
                    <strong style="font-size: 130%;">3. </strong>
                    Paste the copied token here:
        					</label>
        					<input type="text" class="form-control" required name="api_key" placeholder="i.e. XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX-xxXX" id="exampleInputPassword1" />
        				</div>

        				<button type="submit" style="margin: 0 auto; display: block; background-color: #007c89; border-color: #007c89; width: 100%; font-size: 150%;" class="btn btn-primary">
        					Subscribe
        				</button>
        			</form>
    				</div>

    			</div>

    		</div>
    	</div>
    </div>
    <span id="alert-target"></span>
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {


      toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-full-width",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": 300,
        "hideDuration": 1000,
        "timeOut": 0,
        "extendedTimeOut": 0,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut",
        "tapToDismiss": false
      }

      toastr["info"]("We do not absorb your subscriber list as per GDPR rules. Here's the open source <a target=\"_blank\" href=\"https://bitbucket.org/alinisar125/mailchimp/\">link</a> to this so you can view this directly. We  have relationships with hundreds of content writers, production companies, and businesses whereby their SEO matters. By participating in this, we'll be able to see your subscriber analytics, click throughs, and see the types of content you've previously posted.")
    })
    </script>
  </body>
</html>
