<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Subscribe Us!</title>
  </head>
  <body>
    <div class="container" style="margin-top:50px; margin-bottom: 50px">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="page-header">
    				<h1>
    					<img src="https://login.mailchimp.com/release/1.1.12aaf6d4536c56c8d6d110cceaf48db970a2ec50e/images/brand_assets/logos/mc-freddie-dark.svg" style="margin: 20px auto 40px; width: 150px; display: block; clear: both" alt="">
    				</h1>
    			</div>
    			<div class="list-group">
            <div class="alert alert-success" style="text-align: center; font-size: 150%;">
              <strong style="clear: both; display: block; text-align: center; font-size: 150%;">Hey <%= first_name%>, Congratulations!</strong> You have subscribed successfully.
            </div>

    			</div>

    		</div>
    	</div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
